<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>
    <p>
      {{ site.description }}
      {% include icon-github.html %}
    </p>

  </div>

</footer>
<!-- START CLICKX TRACKER CODE: Place below body tag  --> <script type="text/javascript">!function(e,n,o,t){var r=n.createElement(o);r.src=t+"?time="+(new Date).getTime(),r.async=!0,r.onload=function(){ClickxTracker.init({twId:"omtwtewKrHI", apiUrl:"http://localhost:3000"})},r.onerror=function(){console.log("Error")},n.getElementsByTagName("head")[0].appendChild(r)}(window,document,"script","http://localhost:3000/clickx-tracker.js");</script><noscript><p><img src="http://localhost:3000/tracker.gif?twId=omtwtewKrHI&noscript=true" style="border:0;" alt="" /></p></noscript><!-- END CLICKX TRACKER CODE -->
